    <footer id="contactDiv">

        <div id="city">
            <img src="static/Images/home.png" alt="Home icon">
            Be'er Sheva
        </div>

        <div id="phoneNo">
            <img src="static/Images/phone.png" alt="Phone icon">
            +972-544235080
        </div>

        <div id="mail">
            <img src="static/Images/email.png" alt="E-mail icon">
            veredarbel@gmail.com
        </div>

        <div id="linkedin">
            <img src="static/Images/linkedin.png" alt="LinkedIn icon">
            <a href="https://www.linkedin.com/in/vered-bar-arbel-8231a98a/" style="color: var(--gold)" target="_blank">LinkedIn</a>
        </div>


    </div> <!-- contactDiv -->